doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// Bootstrap
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		// odometer js
		script(type='text/javascript', src='odometer/odometer.js')
		link(rel='stylesheet', href='odometer/odometer-theme-default.css')
		// custom css
		link(rel='stylesheet', href='seat.css')
		// custom js
		script(type='text/javascript', src='seat.js')

	body
		.container
			.row
				#seat-table.col-sm-offset-1.col-sm-7
					#driver
					#s1.seat
					#s2.seat
					#s3.seat
					#s4.seat
					#s5.seat
					#s6.seat
					#s7.seat
					#s8.seat
					#s9.seat
					#s10.seat
					#s11.seat
					#s12.seat

				#counter.col-sm-3
					p#c1 剩餘座位數量
					p#c2.odometer #{data}
						p#c3 人

