body {
    background-color: beige;
    font-family: Microsoft JhengHei, sans-serif;
}

#seat-table {
    border-style: groove;
    height: 500px;
    margin-top: 100px;
}

#driver {
    height: 440px;
    width: 65px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: #5f835f;
    position: absolute;
    color: white;
    font-size: 24px;
}

#driver #p1 {
    margin-top: 150px;
    padding-left: 20px;
}

#driver #p2 {
    margin-top: 50px;
    padding-left: 20px;
}

#counter {
    padding-top: 150px;
    padding-left: 60px;
}

#counter #c1 {
    font-size: 30px;
}

#counter #c2 {
    padding-left: 50px;
    font-size: 50px;
}

.seat {
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 28px;
    font-size: 20px;
    color: #6c6c6c;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: #acacac;
}

.unavailable {
    opacity: 0.5;
}

#s1 {
    margin-top: 20px;
    margin-left: 200px;
}

#s2 {
    margin-top: 20px;
    margin-left: 300px;
}

#s3 {
    margin-top: 20px;
    margin-left: 400px;
}

#s4 {
    margin-top: 20px;
    margin-left: 500px;
}

#s5 {
    margin-top: 20px;
    margin-left: 600px;
}