<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- odometer js-->
    <script type="text/javascript" src="odometer/odometer.js"></script>
    <link rel="stylesheet" href="odometer/odometer-theme-default.css">

    <!-- custom css-->
    <link rel="stylesheet" href="seat.css">

    <!-- custom js-->
    <script type="text/javascript" src="seat.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div id="seat-table" class="col-sm-9">
                <div id="driver">
                    <p id="p1">駕</p>
                    <p id="p2">駛</p>
                </div>
                <div id="s1" class="seat unavailable">
                    <p>01</p>
                </div>
                <div id="s2" class="seat">
                    <p>02</p>
                </div>
                <div id="s3" class="seat">
                    <p>03</p>
                </div>
                <div id="s4" class="seat">
                    <p>04</p>
                </div>
                <div id="s5" class="seat">
                    <p>05</p>
                </div>

            </div>
            <div id="counter" class="col-sm-3">
                <p id="c1">剩餘座位數量</p>
                <p id="c2" class="odometer">0</p>
                <p id="c3">人</p>
            </div>
        </div>
    </div>

</body>

</html>
